.home-section {
  min-height: calc(100vh - 80px); /* ocupa toda la pantalla menos el navbar */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-title {
  font-size: 3rem;
  font-weight: 800;
  color: #3a4975;
  margin-bottom: 1rem;
}

.home-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: #555;
  margin-bottom: 2rem;
}

.home-button {
  background-color: #9b141b;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #7f1016;
}
