/* screens/PersonalDashboard.css */

.dashboard-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  color: #333;
}

.dashboard-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f4f7f6; /* Un gris muy claro para el fondo */
  font-family: Arial, sans-serif;
}

.main-content-area {
  flex-grow: 1; /* Ocupa el resto del espacio */
  height: 100vh;
  overflow-y: auto; /* Permite scroll si el contenido es largo */
  padding: 2rem;
}
