/* Contenedor principal del slider */
.slider-container {
  width: 75%;
  max-width: 900px;      /* ancho máximo */
  height: 900px;         /* altura fija */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
}



/* Imagen dentro del slide */
.slider-container img {
  width: 50%;
  height: 50%;
}

/* Caption */
.carousel-caption h3 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 12px;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.carousel-caption p {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .slider-container {
    height: 300px;
  }
  .carousel-caption h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .slider-container {
    height: 250px;
  }
  .carousel-caption h3 {
    font-size: 1rem;
  }
}
